@import "colors.css";

* {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0 10px 10px 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

window#waybar {
  background: @background;
  font-family: Symbols Only Nerd Font Propo, Aporetic Sans;
  font-size: 11pt;
}

window#waybar.empty #window {
  border: none;
  padding: 0;
}

#mpris,
#idle_inhibitor,
#window,
#cpu,
#backlight,
#memory,
#wireplumber,
#battery,
#battery.critical,
#battery.warning,
#network,
#clock {
  padding-right: 4pt;
  padding-left: 4pt;
}

#workspaces {
  padding: 0 4pt;
  border: 2pt solid @surface_tint;
}

#workspaces button {
  padding: 0 2pt;
  color: @tertiary;
}

#workspaces button:hover {
  color: @on_secondary_container;
  background-color: @background;
  border-top: 2pt solid @surface_tint;
  border-bottom: 2pt solid @surface_tint;
  
}

#workspaces button.active,
#workspaces button.active:hover {
  color: @primary
}

#workspaces button.urgent {
  color: @error;
}

#window {
  border: 2pt solid @error;
}

#tray {
  border: 2pt solid @primary_fixed;
  padding: 0 6pt;
}

#idle_inhibitor {
  border: 2pt solid @on_primary_container;
}

#cpu {
  border: 2pt solid @secondary;
}

#backlight {
  border: 2pt solid @on_background;
}

#memory {
  border: 2pt solid @on_tertiary_container;
}

#wireplumber {
  border: 2pt solid @tertiary_fixed;
}

#battery {
  border: 2pt solid @on_surface;
}

#clock {
  border: 2pt solid @secondary_fixed_dim;
}

#network {
  border: 2pt solid @on_error_container;
}

#mpris {
  border: 2pt solid @tertiary;
}
