@import "mocha.css";

* {
    padding: 0;
    margin: 0;
    min-width: 0;
    min-height: 0;
    border: none;
    border-radius: 0;
    text-shadow: none;
    box-shadow: none;
    font-family: "D2KodingLigature Nerd Font Propo";
    font-size: 13px;
}

window#waybar,
window#waybar > box {
    background: @crust;
    color: @text;
}

tooltip {
    background: @base;
    color: @text;
    border-radius: 6px;
}

#tray menu {
    background: @base;
    color: @text;
    padding: 4px;
}

tooltip label {
    color: @text;
}

#cava,
#workspaces button,
#taskbar button,
#clock,
#mpris,
#tray,
#idle_inhibitor,
#cpu,
#memory,
#temperature,
#battery,
#custom-network,
#backlight,
#wireplumber.sink,
#wireplumber.source,
#window,
#custom-launcher {
    margin: 2px;
    padding: 4px;
    border-radius: 6px;

    background: @base;
    color: @text;
}

#workspaces button.active,
#taskbar button.active {
    background: @blue;
    color: @base;
}

#workspaces button:hover,
#taskbar button:hover,
#custom-launcher:hover {
    background: @base;
    color: @subtext0;
}

window#waybar.empty #window,
#workspaces button.empty {
    background: transparent;
    color: transparent;
}

#tray > .passive {
    opacity: 0.6;
}

#cpu.warning {
    color: @maroon;
}
#cpu.critical {
    color: @red;
}

#memory.warning {
    color: @maroon;
}
#memory.critical {
    color: @red;
}

#temperature.critical {
    color: @red;
}

#battery.warning {
    color: @maroon;
}
#battery.critical:not(.charging) {
    color: @red;
}

#custom-expand-icon {
    margin: 2px;
    padding: 4px;
    color: @text;
}

.quick-settings-drawer {
    opacity: 0;
    margin-left: 0;
}

#quick-settings:hover .quick-settings-drawer {
    opacity: 1;
}
