@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

/* -- base  and bars styles  -- */

* {
    font-family: D2KodingLigature Nerd Font Propo;
    font-size: 18px;
    border: none;
    border-radius: 0;
}

#hint_bar {
    border-radius: 12px 12px 0px 0px;
    border-left: 3px solid @lavender;
    border-right: 3px solid @lavender;
    border-top: 3px solid @lavender;
}

#hint_label {
	/** -- Adjust min-weight to match the main bar width and the font-size for the height of the hint bar -- */
	min-width: 585px;
	font-size: 4px;
}

#main_bar {
    min-width: 650px;
    border-radius: 12px 12px 0px 0px;
    border-left: 3px solid @lavender;
    border-right: 3px solid @lavender;
    border-top: 3px solid @lavender;
}

box, menubar, button {
    background-color: @base;
    background-image: none;
    box-shadow: none;
}

button, label {
    color: @text;
}

popover contents {
	background-color: @base;
	font-size: 18px;
	border-radius: 12px;
    border: 3px solid @lavender;
}

.clock {
	margin-left: 14px;
	margin-right: 14px;
}

.popup-menu label {
	font-size: 18px;
}

.popup-clock .calendar {
	background-color: @base;
}

.popup-clock .calendar grid label.day-number.today:selected {
  color: @base;
}

.popup-clock .calendar-clock {
	font-size: 0px;
}

#tray_popup {
	min-width: 34px;
	min-height: 32px;
}

.workspaces .text-button.item.focused {
    font-weight: bold;
  background-image: linear-gradient(to bottom, @lavender, @lavender), 
                    linear-gradient(to bottom, @base, @base);

  background-size: 50% 3px, 
                   100% 100%;

  background-position: 50% 100%, 
                       0 50%;

  background-repeat: no-repeat;
}

tooltip {
	background-color: @base;
	border-radius: 12px;
	padding: 5px;
	border: 1px solid @lavender;
}

tooltip label {
	font-size: 18px;
	padding-left: 5px;
}
