window {
   background-image: url("{{image}}");
   background-size: cover;
   background-position: center;
}

#window-box {
	padding: 64px;
	border: 2px solid {{colors.tertiary.default.hex}};
	border-radius: 8px;
	box-shadow: {{colors.shadow.default.hex}} 0px 4px 12px;
	background-color: rgba({{colors.background.default.red}}, {{colors.background.default.green}}, {{colors.background.default.blue}}, 0.85);
	color: {{colors.primary.default.hex}};
}

button {
   color: {{colors.background.default.hex}};
   background-color: rgba({{colors.primary.default.red}}, {{colors.primary.default.green}}, {{colors.primary.default.blue}}, 0.85);
   border: 1px solid {{colors.tertiary.default.hex}};
}

entry {
    background-color: rgba({{colors.surface_tint.default.red}}, {{colors.surface_tint.default.green}}, {{colors.surface_tint.default.blue}}, 0.85);
    border: 1px solid {{colors.tertiary.default.hex}};
    border-radius: 8px;
    color: {{colors.background.default.hex}};
}
