[Desktop Entry]
Type=Application
Name=Helix (footclient)
Comment=Helix text editor in foot terminal
Exec=footclient hx %F
Terminal=false
MimeType=text/plain;text/x-shellscript;text/x-python;text/markdown;
Categories=TextEditor;Utility;
StartupNotify=false
