[Desktop Entry]
Type=Application
Name=Helix
Comment=Helix text editor in foot terminal
Exec=foot hx %F
Terminal=false
MimeType=text/plain;text/x-shellscript;text/x-python;text/markdown;
Categories=TextEditor;Utility;
StartupNotify=false
