layout {
    focus-ring {
        active-color "{{colors.primary_container.default.hex}}"
        inactive-color "{{colors.surface_container_high.default.hex}}"
        urgent-color "{{colors.error.default.hex}}"
    }

    border {
        active-color "{{colors.primary_container.default.hex}}"
        inactive-color "{{colors.surface_container_high.default.hex}}"
        urgent-color "{{colors.error.default.hex}}"
    }

    shadow {
        color "{{colors.shadow.default.hex}}40"
    }

    tab-indicator {
        active-color "{{colors.primary_container.default.hex}}"
        inactive-color "{{colors.surface_container_high.default.hex}}"
        urgent-color "{{colors.error.default.hex}}"
    }

    insert-hint {
        color "{{colors.primary_container.default.hex}}80"
    }
}

overview {
    backdrop-color "{{colors.surface_container_low.default.hex}}"
}

recent-windows {
    highlight {
        active-color "{{colors.primary_container.default.hex}}"
        urgent-color "{{colors.error.default.hex}}"
    }
}
